{
    "extends": "airbnb-base",
    "rules": {
        "comma-dangle": ["error", "never"],
        "import/no-extraneous-dependencies": ["error", {"devDependencies": true, "optionalDependencies": true}]
    },
    "env": {
        "jest": true
    }
}